{% extends "base.html" %}

{% block content %}
    <article class="media">
        <img src="{{ object.author.profile.image.url }}" class="mr-3" alt="{{ object.author.first_name }}">

        <div class="media-body">
            <h5 class="mt-0">{{ object.title }}</h5>
            <small>
                By <a href="{% url 'blog.user.posts' object.author.username %}"><strong>{{ object.author }}</strong></a> 
                on <strong>{{ object.created_at|date:'j F, Y' }}</strong>
            </small>

            {% if object.author == user %}
                <div>
                    <a href="{% url 'blog.update' object.id %}" class="btn btn-sm btn-secondary">Update</a>
                    <a href="{% url 'blog.delete' object.id %}" class="btn btn-sm btn-danger">Delete</a>
                </div>
            {% endif %}

            <p class="mt-3">{{ object.content }}</p>
        </div>
    </article>

{% endblock %}