{% extends "base.html" %}

{% block styles %} 
<style>
    div.django-ckeditor-widget {display: initial!important;}
    div#cke_id_content {
        width: 100%!important;
        max-width: 800px!important;
    }
</style>
{% endblock %}

{% block content %}
    <!-- errors -->
    {{ form.errors }}

    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_title">{{ form.title.label }}*</label>
            {{ form.title }}
        </div>

        <div class="form-group">
            <label for="content">{{ form.content.label }}*</label>
            {{ form.content|safe }}
            {{ form.media }}
        </div>

        <input type="submit" name="Create new">
    </form>
{% endblock %}